.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-center {
    text-align: center;
}
.text-justificado {
    text-align: justify;
}
.mt-8 {
    margin-top: 7.5rem;
}
.mb-8 {
    margin-bottom: 7.5rem;
}
.color-pac {
    color: #008037;
}
.height-card {
    height: 30em;
}
.google-btn {
    display: block;
}
.flecha-admin {
    font-size: 15em;
    color:  #008037;
}
.img-admin {
    border-radius: 50%;
    width: 30%;
}
.title-fecha {
    color: #008037;
    font-size: 1.3em;
}
@media (max-width: 700px)  { 
    .img-media {
        display: none;
    }
}
@media (min-width: 700px)  { 
    .google-btn {
        display: block;
    }
}
/* LOADER */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
    opacity: 1;
    }

    50% {
    opacity: 0.5;
    }
}
.PageLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
/* LOADER */
