.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-center {
    text-align: center;
}
.text-justificado {
    text-align: justify;
}
.mt-8 {
    margin-top: 7.5rem;
}
.color-pac {
    color: #008037;
}
@media (max-width: 700px)  { 
    .img-media {
        display: none;
    }
}
